*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
button:focus {outline:0;}

body{
  position:fixed;
  background-color: #575554;
  background-image: url("../images/bkg.jpg");
 background-blend-mode: multiply; 
}
.fldCreate{  position: relative;
  top: -24px;
  right: -25px;
  width: 91px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #88AD86;
  padding: 5px 7px 5px 7px;
  text-decoration: none;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.rmUpdate{
  position: relative;
  top: 104px;
  right: -104px;
}
.floorButt {
  font-family: Arial;
  color: #ffffff;
  font-size: 16;
  background: #7D7F58;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  width: 116px;
  right: -115px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.floorButt:hover {
  background: #9EC4E9;
  text-decoration: none;
}
.buttonOverlay{
    position: relative;
  top: -89.5px;
}

.rmSubBox{
	right:0%;
	position:relative;
	top:-12.2%%;

}

.fieldlabel{
  top: 245px;
  position: fixed;
  right: 20%;
}

#flAdd{
position: fixed;
  top: 303px;
  left: 11px;
  z-index: 12;
}
#floorBar{
  position: fixed;
  top: 303px;
  left: 11px;
  z-index: 12;
}
.flDel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #a80000;
  padding: 5px 7px 5px 7px;
  text-decoration: none;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.flDel:hover {
  background: #de0000;
  text-decoration: none;
}

#floorCreate{
  position: fixed;
  top: 303px;
  left: 11px;
  z-index: 12;
}

.floorAddField{
    margin: 11px;
}
.floorField{
    margin: 11px;
}

#main{
    background-color: #D8E258;
  width: 116;
  position: fixed;
  top: 295px;
  height: 100%;
  left: 0%;
  padding-top: 64px;
}
.hidden{
	display:none;
}
.hiddenEdit{
  visibility: hidden;
}
#logout{
  position: fixed;
  top: 4%;
  right: 4%;
}

.menubar{
  position:fixed;
}

.newRoomFields{
  position: absolute;
  right: 250px;
  top: 270px;
}
.dispnotes{
  font-size: 13;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 18px;
  position: relative;
  width: 270;
  height: 150;
  top: -195px;
  left: 15;
  background-color: rgba(255,255,255,.4);
}
.notes {
  font-size: 13;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 18px;
  position: relative;
  width: 270;
  height: 125px;
  top: -171px;
  left: 15px;
  background-color: rgba(255,255,255,.4);
}

#paintstripe{
  width: 1613px;
  position: absolute;
  top: 175px;
  right: -507px;
}

#top_pic{
	position:absolute;
	width:100%;
	height:150px;
	z-index: -1;
}
#rooms{
  display: inline-block;
  text-align: center;
  width: 95%;
  position: fixed;
  right: -2%;
  top: 300px;
  overflow-y: scroll;
}

.roomBox{
 	display: inline-block;
	width: 300px;
	height: 250px;

}
.roomCreate{
  position: relative;
  top: -24px;
  right: -25px;
  width: 91px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #88AD86;
  padding: 5px 7px 5px 7px;
  text-decoration: none;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;

}

.roomDiv{
	display: inline-block;
	width:300px;
	margin: 20px 10px 10px 10px;
}

.roomColor1{
	width:10%;
	height:33.33333%;
}
.roomColor2{
	width:10%;
	height:33.33333%;
}
.roomColor3{
	width:10%;
	height:33.33333%;
}
.roomEdit{
  width: 90%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.65em;
  color: white;
  margin: 0;
  top: 0%;
  text-align: -webkit-right;
  right: -8%;
}

.room_inputs{
  position: relative;
  top: -24px;
  width: 116;
}
.roomName{
	width: 90%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.65em;
  color: white;
  margin: 0;
  position: relative;
  top: 31px;
  text-align: -webkit-right;
  right: -8%;
}
.shown{
  display:block;
}

.shownEdit{
  position: relative;
  top: 30px;
  right: -14px;
  z-index: 100
}
.selected{
  width:50px;
}
.selector{
	bottom: 21.4%;
  background-color: black;
  position: relative;
  width: 90%;
  right:-10%;
  top:-23px;
}
